body{
    margin: 0;
    max-width: 100%;
    background-color: #121E28;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
   /* background-color: rgb(218, 134, 24); */
   /* max-width: 100%; */
   height: auto;
   width: 100%;
   /* overflow: hidden; */
}
.menu{
    background-color: #14273A;
    height: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
}
 .menu ul {
    list-style: none;
    display: flex;
 }
 .menu ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    list-style: none;
    
 }
 .menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 100px;
    text-decoration: none;
    font-size: 26px;
 }
 section{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;    
    margin-top: 5%;
 }
 #describeMyself{
   width: 50%;
   height: 400px;
   /* background-color: rgb(149, 105, 24); */
 }
 .text-p{
   color: white;
   font-size: 50px;
   font-weight: bold;
   margin: auto;
   height: auto;
 }
.text-p1{
   color: white;
   font-size: 25px;
}
button{
  margin: 1em;
  padding: 10px 60px;
  border-radius: 9px;
  background-color: #2164AF;
  border: none;
}
button a{
   width: 100%;
   text-decoration: none;
   color: white;
   font-size: 23px;
}
 .img1{
    width: 25%;
    background-color: brown;
    height: 390px;
 }
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section{
   /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    height: 600px;
    align-items: center;    
    margin-top: 5%; 
    /* background-color: aquamarine; */
}
#aboutMe{
   width: 50%;
   height: 400px;
   color: white;
   color: white;
   font-size: 50px;
   
}
.text-pp{
   color: white;
   font-size: 50px;
   font-weight: bold;
   margin: auto;
   height: auto;
}
.text-p3{
   color: white;
   font-size: 25px;
}
.img2{
    width: 115%;
    background-color: violet;
    height: 395px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
img{
   width: 100%;
    height: 100%;
    object-fit:cover;
}
section{
   /* background-color: sienna; */
   display: flex;
    /* justify-content: space-around; */
    align-items: center;    
}
