body{
    margin: 0;
    max-width: 100%;
    background-color: #121E28;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Inter", sans-serif;
}
.container{
   /* background-color: rgb(218, 134, 24); */
   /* max-width: 100%; */
   height: auto;
   width: 100%;
   /* overflow: hidden; */
}
.menu{
    background-color: #14273A;
    height: 85px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 16px; */
    
}
 .menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;

 }
 .menu ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    list-style: none;
    
 }
 .menu ul li a {
    display: flex;
    color: white;
    text-align: center;
    /* padding: 100px; */
    text-decoration: none;
    font-size: 26px;
    gap: 100px;
 }
 #describeMyself{
   width: 50%;
   height: 400px;
   /* background-color: rgb(149, 105, 24); */
 }
 .text-p{
   color: white;
   font-size: 50px;
   font-weight: bold;
   margin: auto;
   height: auto;
 }
.text-p1{
   color: white;
   font-size: 25px;
}
.text-p2{
   font-weight: bold;
}
button{
  margin: 1em;
  padding: 10px 60px;
  border-radius: 9px;
  background-color: #2164AF;
  border: none;
}
button a{
   width: 100%;
   text-decoration: none;
   color: white;
   font-size: 23px;
}
 .img1{
    width: 25%;
    background-color: brown;
    height: 390px;
 }
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
section {
   display: flex;
   justify-content: space-around;
   align-items: center;    
   margin-top: 5%; 
   background-color: rgb(24, 38, 101);
}
#aboutMe{
   width: 50%;
   height: 400px;
   color: white;
   font-size: 50px;
   
}
.text-pp{
   color: white;
   font-size: 50px;
   font-weight: bold;
   margin: auto;
   height: auto;
}
.text-p3{
   color: white;
   font-size: 25px;
}
.img2{
    width: 115%;
    background-color: violet;
    height: 395px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
img{
   width: 100%;
    height: 100%;
    object-fit:cover;
}

#services{
   width: 82%;
   height: auto;
   padding: 30px;
   max-width: 100%;
}
.text-p4{
   font-size: 50px;
   color: white;
   text-decoration-line: underline;
   font-weight: bold;
   margin-bottom: 20px;
}
.box1{
   background-color: #14273A;
   width: 100%;
   justify-content: space-evenly;
   align-items: center;
   margin: 0 auto;
   line-height: 120px;
}
.app-1{
   /* background-color: aquamarine; */
   display: flex;
   justify-content: space-around;
   font-size: 35px;
   color: white;
}
.app-2{
   /* background-color: burlywood; */
   display: flex;
   /* width: 400px; */
   justify-content: space-around;
   font-size: 35px;
   /* margin-left: 300px; */
   color: white;
}
#experiance {
   width: 1200px;
   margin:  0 auto;

   /* background-color: pink; */
}
.text-p5{
   font-size: 50px;
   color: white;
   font-weight: bold;
   margin-bottom: 11px;
   margin: 0;

}
.text-p5 span{
   color: #1ABCFE;
   text-decoration-line: underline;
}
.box-1{
   background-color: #14273A;
   color: white; 
   padding: 30px;
   border-radius: 10px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}

.text {
   margin: 0;
   /* background-color: pink; */
}
.text-p6{
   font-weight: 600;
   margin-bottom: 10px;
}
.text-p7{
   font-weight: 600;
   margin: 0;
}
.text-p8{
   margin: 5px 0 15px;
}
.text-p9{
   line-height: 1.6;
   max-width: 870px;
}
.box-2{
   background-color: #14273A;
   color: white; 
   padding: 30px;
   border-radius: 10px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}
.text-p10{
   font-weight: 600;
   margin-bottom: 10px;
}
.text-p11{
   font-weight: 600;
   margin: 0;
}
.text-p12{
   margin: 5px 0 15px;
}
.text-p13{
   line-height: 1.6;
   max-width: 870px;
}
.box-3{
   background-color: #14273A;
   color: white; 
   padding: 30px;
   border-radius: 10px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}
.text-p14{
   font-weight: 600;
   margin-bottom: 10px;
}
.text-p15{
   font-weight: 600;
   margin: 0;
}
.text-p16{
   margin: 5px 0 15px;
}
.text-p17{
   line-height: 1.6;
   max-width: 870px;
}
.box-4{
   background-color: #14273A;
   color: white; 
   padding: 30px;
   border-radius: 10px;
   margin-bottom: 20px;
   text-align: center;
   font-size: 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}
.text-p18{
   font-weight: 600;
   margin-bottom: 10px;
}
.text-p19{
   font-weight: 600;
   margin: 0;
}
.text-p20{
   margin: 5px 0 15px;
}
.text-p21{
   line-height: 1.6;
   max-width: 870px;
}
#skills{
   max-width: 100%;
}
.soft{
   color: white;
   background-color: #14273A;
   padding: 30px;
   border-radius: 5%;
   margin-bottom: 30px;
   height: 395px;
   width: 530px;
} 
.soft a{
   color: white;
   text-decoration: none;
   font-size: 16px;
   padding: 10px;
   height: 305px;
}
.soft ul li a {
   font-size: 26px;
   padding: 10px;
}
.hard{
   background-color: #14273A;
   padding: 30px;
   border-radius: 5%;
   margin-left: 80px;
   /* margin-bottom: 30px; */
   /* height: 450px; */
   width: 505px;
   /* justify-content: space-between; */
}
.hard a img{
   width: 90px;
   object-fit: contain;
}
.hard-img{
   /* background-color: brown; */
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* margin: auto; */
   margin-left: 70px;

}
.hard p{
   font-size:40px ;
}
.soft-hard{
   display: flex;
   justify-content: space-between;
   gap: 50px;
   align-items: center;

}
#project{
   margin-bottom: 10px;
   text-align: center;
   font-size: 15px;
}
#project h1{
   font-size: 20px;  
}
#project p{
   line-height: 1.2;  
}
.pic5{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.pic-p{
   display:flex;
   width: 70%;
   gap: 10px;
}
.pic-pp{
   display: flex;
   width: 50%;
   gap: 10px;
}
#award{
   width: 100%;
   padding: 0px;
}
.text-a{
   display: flex;
   text-align: center;
}
.text-a span{
   color: #1ABCFE;
   
}
.pic-text img{
   width: 250px;
   display: flex;
}
.contact{
   width: 100%;
   background-color: rgb(14, 92, 66);
}
.contact h1{
   font-size: 20px;
   color: #1ABCFE;
   margin: 0;
    margin-left: 90px;
}
.contact h2{
   font-size: 30px;
   color: white;
   margin: 0;
   display: flex;
   flex-direction: column;
   margin-left: 90px;
}
.contact h3{
   font-size: 30px;
   color: #1ABCFE;
   margin: 0;
    margin-left: 90px;
}
.box-pp{
   width: 100%;
   /* color: chartreuse; */
   display: flex;
   justify-content: center;
}
.btn{
   text-decoration: none;
   background-color: #1F5B9D;
   margin-left: 370px;
   border-radius: 5%;
   color: white;
   padding: 10px;
   margin-top: 170px;
   
}
.box-pp form{
   margin-bottom: 20px;
}
.box-pp input{
   background-color: #14273A;
   border-radius: 5px;
   width: 180px;
   height: 30px;
   font-size: 16px;
   margin-bottom: 10px;
}
.box-pp :placeholder{
color: rgb(159, 159, 159);
}
.bb{
   width: 400px;
}
.box-pp2{
   background-color: #14273A;
   border-radius: 5%;
   padding: 20px;
   margin-left: 50px;
   
}
.box-pp2 h1{
   color: white;
   font-size: 18px;
   margin: 0;

}
.box-pp2 h2{
   color: rgb(141, 140, 140);
   font-size: 16px;
   margin:0;
   margin-bottom: 10px;

}
.box-pp2 h3{
   color: white;
   font-size: 18px;
   margin: 0;

}
.box-pp2 h4{
   color: rgb(141, 140, 140);
   font-size: 14px;
   margin: 0;

}
.box-pp2 h5{
color: rgb(141, 140, 140);
margin: 0;
margin-bottom: 10px;

}
.box-pp2 h6{
   color: white;
   font-size: 18px;
   margin:0;
   margin-bottom: 10px;

}